﻿
@{
    ViewBag.Title = "Edit";
}
@model HomeData.Models.Home


<h2>Edit Alamat</h2>

<div class="row">
    <div class="col-md-6">
        <button class="btn btn-block" disabled> Input Data Manual </button><br />
        <form action="/Home/Update" method="post">
            @Html.AntiForgeryToken()
            <input hidden name="id" value="@Model.id" />
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Pemilik Rumah</label>
                <div class="col-sm-10">
                    <input type="text" name="owner" class="form-control" value="@Model.name">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Type</label>
                <div class="col-sm-10">
                    <select name="type" class="form-control">
                        <option value="@Model.type">@Model.type</option>
                        <option value="36">36</option>
                        <option value="45">45</option>
                        <option value="72">72</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Alamat</label>
                <div class="col-sm-10">
                    <input type="text" name="address" class="form-control" value="@Model.address">
                </div>
            </div>
            <a href="/">
                <button class="btn btn-default" type="button">Back</button>
            </a>
            <button class="btn btn-primary pull-right type="submit">Update</button>
        </form>
    </div>

</div>
