﻿@model HomeData.Models.ViewModel

@{
    ViewBag.Title = "Home Page";
}
<script src="https://dev.virtualearth.net/REST/v1/Locations/47.64054,-122.12934?o=xml&key=AkON-K0wkcvEvCrk8TQOGMmCq7q1phsU32D_7IqXel4sSFEQfT6j2WutRK-hSKzM">
</script>
<div class="jumbotron">
    <h1>Selamat Datang di Aplikasi Home Data</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th style="background-color:black; color:snow;" scope="col">#</th>
                    <th style="background-color:black; color:snow;" scope="col">Nama Pemilik</th>
                    <th style="background-color:black; color:snow;" scope="col">Type</th>
                    <th style="background-color:black; color:snow;" scope="col">Alamat</th>
                    <th style="background-color:black; color:snow;" scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @{ int no = 1; }
                @foreach (var home in @Model.Homes)
                {
                    <tr>
                        <th scope="row">@(no++)</th>
                        <td>@home.name</td>
                        <td>@home.type</td>
                        <td>@home.address</td>
                        <td>
                            <a href="/Home/Edit/@home.id">
                                <button class="btn btn-warning">Edit</button>
                            </a>

                            <form action="/Home/Delete" method="post">
                                @Html.AntiForgeryToken()
                                <input hidden name="id" value="@home.id" />
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<br />
<br />
<br />
<div class="row">
    <div class="col-md-6">
        <button class="btn btn-block" disabled> Input Data Manual </button><br />
        <form action="/Home/AddData" method="post">
            @Html.AntiForgeryToken()

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Pemilik Rumah</label>
                <div class="col-sm-10">
                    <input type="text" name="owner" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Type</label>
                <div class="col-sm-10">
                    <select name="type" class="form-control">
                        <option></option>
                        <option value="36">36</option>
                        <option value="45">45</option>
                        <option value="72">72</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Alamat</label>
                <div class="col-sm-10">
                    <input type="text" name="address" class="form-control">
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>

    <div class="col-md-6">
        <a href="/Home/InputViaMap">
            <button class="btn btn-primary btn-block"> Input Melalui Map </button>
        </a>
    </div>
</div>