﻿
@{
    ViewBag.Title = "InputViaMap";
}

<script type='text/javascript'
        src='http://www.bing.com/api/maps/mapcontrol?callback=loadMapScenario&branch=experimental&key=AkON-K0wkcvEvCrk8TQOGMmCq7q1phsU32D_7IqXel4sSFEQfT6j2WutRK-hSKzM'
        async defer>
</script>
<script type="text/javascript">
    function GetMap() {
        var map = new Microsoft.Maps.Map('#myMap');
    }
</script>

<script type='text/javascript'>
        var map;
        var directionsManager;

    function GetMap() {
        var map = new Microsoft.Maps.Map('#myMap', {});

        Microsoft.Maps.Events.addHandler(map, 'viewchange', function (e) {
            document.getElementById('output').innerHTML = map.getCenter();
        });
    }

    function loadMapScenario() {
        var map = new Microsoft.Maps.Map(document.getElementById('myMap'), {});
        Microsoft.Maps.loadModule('Microsoft.Maps.DrawingTools', function () {
            var tools = new Microsoft.Maps.DrawingTools(map);
            tools.showDrawingManager(function (manager) {
                Microsoft.Maps.Events.addHandler(manager, 'drawingStarted', function (e) {
                    console.log(e.geometry.x);
                    console.log(e.geometry.y);
                    document.getElementById("lattitude").value = e.geometry.x;
                    document.getElementById("longitude").value = e.geometry.y;
                });
            });
        });

    }
</script>

<div class="jumbotron">
    <h1>Silakan Input Alamat Melalui Map</h1>
    <p class="lead"></p>
    <p></p>
</div>

<div class="row">
    <form action="/Home/AddData" method="post">
        @Html.AntiForgeryToken()

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Pemilik Rumah</label>
            <div class="col-sm-10">
                <input type="text" name="owner" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Type</label>
            <div class="col-sm-10">
                <select name="type" class="form-control">
                    <option></option>
                    <option value="36">36</option>
                    <option value="45">45</option>
                    <option value="72">72</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Alamat</label>
            <div class="col-sm-10">
                <input placeholder="Silikan pilih di map" disabled class="form-control">
                <input hidden value="input_via_map" name="address" />
                <input hidden value="" name="lattitude" id="lattitude" />
                <input hidden value="" name="longitude" id="longitude" />
            </div>
        </div>
        <div id='myMap' style='width: 80vw; height: 80vh;'></div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    
    
</div>
